table.list.doodle { border: none; width: auto; }
table.list.doodle td { vertical-align: middle; padding-right: 0.5em }
#table.list.doodle th.answeree { }
table.list.doodle td.answeree { }
table.list.doodle th.answer { text-align: center; }
table.list.doodle td.answer { text-align: center; }
table.list.doodle td.result { text-align: center; }
table.list.doodle img.gravatar { vertical-align: middle; margin-right: 0.5em}
tr.odd td.no { background-color: #ffccca; }
tr.even td.no { background-color: #ffccca; }
tr:hover td.no { background-color: #ffd4d4; }
tr.odd td.yes { background-color: #d1f3d1; }
tr.even td.yes { background-color: #d1f3d1; }
tr:hover td.yes { background-color: #c4ffc4; }
h3.doodles {
   color: navy;
   border-top:1px solid #ff9831;
   border-bottom:1px solid #ff9831;
}
table.list.doodle th { background-color: #ECEEF0; border: none; font-weight: bold; }


table.meeting th {vertical-align: top; text-align: right; font-weight: bold;}

div.meeting { background-color: #F7A95A; display:block; }
div.webmeeting { background-color: #A7FAA0; display:block; }

div.meeting.day.tooltip { background-color: #F7A95A; display:block; width: 49%; }
div.webmeeting.day.tooltip { background-color: #A7FAA0; display:block; width: 49%; }
